.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 20px;
}

.grid-item {
    flex: 0 0 45%;
    margin: 10px;
}

.grid-item figure {
    margin: 0;
}